.c-primary-nav {
  list-style: none;
  // background-color: $color-gray-100;
  padding: $spacing $spacing;

  &__list {
    list-style: none;
    padding: 0 0 0 2rem;
  }

  &__item {
    margin: 2rem 0 1.5rem;
    font-size: $font-size-med;
    text-transform: capitalize;
    &:hover {
      color: $brand-red-alt;
      & > .c-primary-nav__link {
        color: $brand-red-alt;
        & > .c-primary-nav__icon {
          background-color: $brand-red-alt;
          color: $color-white;
        }
      }
    }
    &.is-active {
      color: $brand-red;
      & > .c-primary-nav__link {
        color: $brand-red;
        & > .c-primary-nav__icon {
          background-color: $brand-red;
          color: $color-white;
        }
      }
    }
  }

  &__link {
    display: block;
    width: 100%;
    padding: 0.5rem 0 0.3rem;
    color: $color-gray-700;
    &:hover {
      color: inherit;
    }
  }

  &__icon {
    width: 4.6rem;
    height: 4.6rem;
    margin: 0 0.8rem 0 -0.8rem;
    background-color: $color-white;
    border-radius: 26px;
    color: $color-gray-700;
    &::before {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 2.3rem;
      margin-top: 1.2rem;
    }
  }

  &__subList {
    list-style: none;
    margin: 0 0 0 0.7rem;
    padding-left: 0rem;
  }

  &__subItem {
    font-size: $font-size-sm;
    text-transform: uppercase;
    position: relative;
    display: flex;
    align-items: center;

    &::before {
      display: inline-block;
      margin: 0 2.4rem 0 0;
      font-size: 2.6rem;
      content: "\25CF";
      color: transparent;
    }

    &:hover {
      color: $brand-red-alt;
      &::before {
        color: $brand-red-alt;
      }
    }

    &.is-active {
      color: $brand-red;
      & > .c-primary-nav__link {
        color: $brand-red;
      }
      &::before {
        color: $brand-red;
      }
    }

  }
}
