* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0px;
}

input {
  background-color: transparent;
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
  text-decoration: none;
}

svg {
  overflow: visible;
}

// abstracts
@import "./styles/abstracts/variables";
@import "./styles/abstracts/colors";
@import "./styles/abstracts/mixins";

// utilities
@import "./styles/utilities/spacing";
@import "./styles/utilities/visibility";

// base
@import "./styles/base/body";
@import "./styles/base/headings";
@import "./styles/base/forms";
@import "./styles/base/text";

// layout
@import "./styles/layout/layout";

// atoms
@import "./styles/atoms/icons";
@import "./styles/atoms/input";
@import "./styles/atoms/textarea";
@import "./styles/atoms/table";

// molecules
@import "./styles/molecules/button";
@import "./styles/molecules/logo";
@import "./styles/molecules/textField";
@import "./styles/molecules/title";

// organisms
@import "./styles/organisms/sidebar";

// components
@import "./styles/components/barchart";
@import "./styles/components/linechart";
@import "./styles/components/reports";
